.movie-details-div {
    display: flex;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .movie-details-div-left {
    flex: 1;
  }
  
  .movie-details-div-left img {
    width: 80%;
  }
  
  .movie-details-div-right {
    flex: 2;
    padding-left: 20px;
  }
  
  .movie-details-div-right-up {
    margin-bottom: 20px;
    color: white;
  }
  
  .movie-details-div-right-up h2 {
    font-size: 20px;
  }
  
  .movie-details-div-right-up p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .movie-details-div-right-down {
    margin-top: 14px;
    color: white;
  }
  
  .cast-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .actor-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .actor-info {
    margin-left: 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .actor-name,
.actor-role {
  margin: 0;
}

.actor-role {
    opacity: 0.8;
    font-size: 90%;
  }
  
  
  .actor-card img {
    max-width: 100px;;
    height: auto;
  }
  
  .actor-card p {
    margin-top: 10px;
    color: white;
    font-size: 12px;
    
  }

  /* CSS */
.yellow-stars {
    color: rgb(177, 160, 66);
  }


.role {
    font-weight: lighter;
    font-size: 0.8em;
  }
  .button-space{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(31, 31, 31);
    max-width: 100%;
    border-radius: 2px;
  }
  
  .back-to-search-btn {
    background-color: rgb(46, 46, 46);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .back-to-search-btn:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 768px) {

    .movie-details-div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    .movie-details-div-left {
      width: 100%;
      text-align: center;
    }
  
    .movie-details-div-left img {
      max-width: 100%;
      height: auto;
    }
  
    .movie-details-div-right {
      margin-top: 20px;
    }
  }